body{
    background-image: url(gambar/BG.jpg);
    background-size: cover;

}
.tampil { 
    text-align: center;
    margin-top: 120px;
}
.button {
    color: brown;
    border-radius: 6px;
    border: 3px solid;
    position: relative;
}
.input {

    margin-top: 400px;
    position: relative;
    margin-left: 1px;
    margin-right: 100px;
    margin-bottom: 50px;
    color: brown;
    width: 8px;
    height: 15px;  
}
